@import "tailwindcss";

:root {
  --background: green;
  --foreground: #E8E8E8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  linear-gradient(180deg, #020024 0%, #090979 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom_shadow {
  -webkit-box-shadow: 0px 0px 50px 38px rgba(255, 255, 255, 0.19);
-moz-box-shadow: 0px 0px 50px 38px rgba(255, 255, 255, 0.19);
box-shadow: 0px 0px 50px 38px rgba(255, 255, 255, 0.19);
}

.container_ {
  max-width: 1440px;
  margin: 0 auto;
}