.section {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
    z-index: 0;
}

.title {
    line-height: 134px;
    font-size: clamp(90px, 10vw, 150px);
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.2;
    color: #333333;
}

.subtitle {
    position: sticky;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: clamp(32px, 4vw, 42px);
    line-height: 36px;
    font-weight: 700;
    color: #1E3A85;
    z-index: 10;
}

.content {
    padding: 0 140px;
}

.title.left {
    text-align: left;
}

.title.center {
    text-align: center;
}

.title.right {
    text-align: right;
}
